body {
    margin: 0;
}
.Header {
    text-align: center;
    background: #2c2b2b;
    color: #fff;
    font-weight: bolder;
    font-size: 26px;
    padding: 10px 0;
    width: 100%;
    margin: 0;
}

.fileuploader {
    width: 70px;
    height: 70px;
    padding: 32px 0 5px 0;
    display: flex;
    margin: 5px auto 0px auto;
}
input[type="file"] {
    display: none;
}
.icon {
    width: 100%;
    height: auto;
}
.upload_tag_line {
    text-align: center;
    margin: 0;
    font-size: 25px;
}
.submitbtn {
    background: black;
    color: white;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    bottom: 3px;
}

#uploaded_img {
    width: 80%;
    display: flex;
    margin: auto;
}